In [ ]:
df_baking['country'].describe(include="all")

df_baking.describe()

In [ ]:
my_df = {
    "name": ["Joe", "Jack", "Jane"],
    "age": [21, 22, 23]
}

pd.DataFrame(my_df)

In [ ]:
df_baking[["rooms"]] # 2 squared brakets is a dataframe

In [ ]:
df_baking.info

In [ ]:
rooms.isna().value_counts()

In [ ]:
df_baking.loc[df_baking["realestate_name"] == "engel volkers madrid", "phone_realestate"]

In [ ]:
rooms = df_baking["rooms"]

display(rooms.mean(), rooms.min(), rooms.max())

rooms.describe()

In [ ]:
import pandas as pd

my_df = pd.DataFrame({
    "country": ["Spain" for i in range(5)], 
    "city": ["Madrid", "Madrid", "Madrid", "Galicia", "Galicia"], 
    "numbers": [3, 4, 5, 7, 9]
})

my_df

  country     city  numbers
0   Spain   Madrid        3
1   Spain   Madrid        4
2   Spain   Madrid        5
3   Spain  Galicia        7
4   Spain  Galicia        9

In [8]:

my_df.groupby(by="city").agg({"numbers":"mean"})

         numbers
city
Galicia      8.0
Madrid       4.0